

*{
    box-sizing: border-box;
    margin: 0;
}

main,header,.banner,.content,.sidebar,.gallery,footer{

    padding:20px;
}
main{
   min-width:300px;
    background-image: linear-gradient(to bottom right, #D74177, #FFE98A);
}

header{
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius:5px;
    opacity: .9;
    color:rgb(150, 137, 137);
    padding: 0px;
}

.spacer-menu{
    padding:0px;
}
.spacer-menu h5{
display:none;
   
}
header ul{
    padding: 0px;
}
header ul li{
    margin-left: 0px;
    list-style: none;
    border-bottom: 3px solid#D74177;
    text-align:center;
}
.spacer-menu ul li a{
    line-height: 40px;
    text-decoration: none;
    color: #000;

    display: block;
}
.spacer-menu ul li a:hover{
    background-color: #000;
    color: #fff;
    border: 0px solid 0;
}

header h4{
    text-align: center;
}
.banner{
    min-height:350px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image:url("bannerbg.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
    
}
.banner div{
    width: 100%;
    height: 70px;
    background-color: #000;
    text-align: center;
    color:#fff;
    padding: 5px;
    opacity: .8;

}

.content, .sidebar{
    background-color: azure;
    text-align: center;
    
}
.content h2, .sidebar h2,h3{
    padding: 20px;
}
.content p, sidebar p{
    line-height: 2rem;
}


.sidebar ul li{
    list-style: url("checkmark.png");
    text-align: left;
}

.gallery{
   color:azure;
   text-align: center;
}
.gallery h2{

    margin: 40px 0;
    
}
.gallery .spacer-gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
  .galleryBox img{
        width:300px;
        height: 280px;
        padding: 10px;
    }

@media only screen and (min-width: 640px){
    .spacer-menu{
        display: flex; 
        align-items: center;
        justify-content: center;
       
    }
    .spacer-menu h5{
        display: block;
        padding:5px;
        font-size:14px;
        flex:.5 1 100px;
        text-align:center
       }
    
    .spacer-menu ul{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-grow:3;
    }
    .spacer-menu ul li{
        border: 0px;
        min-width:120px;
    }

    .flex-container{
        display: flex;
    }
    .content{
        flex: 1;
    }
    .sidebar{
        flex: 0 1 300px;
    }
    .galleryBox h4{
        font-size: .85rem;
    }
    .galleryBox img{
        width:350px;
        height: 230px;
        padding: 10px;
    }
    
}

@media only screen and (min-width: 768px){
    .spacer-menu ul{
        justify-content:flex-end;
    }
}

@media only screen and (min-width: 1024px){
    
    .spacer-menu ul{
        justify-content:flex-end;
    }
    
    .wraper{
        margin: 0 auto;
        max-width: 64rem;
    }
    .banner{
        min-height: 500px;
        margin-bottom: 2rem;
    }

    .galleryBox h4{
        font-size: 1rem;
    }
    .galleryBox img{
        width:400px;
        height: 280px;
    }

}


